<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>历史记录</title>
<link rel="stylesheet" type="text/css" href="static/css/history.css">
<script type="text/javascript" src="static/js/jquery.js"></script>
<script type="text/javascript" src="static/js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="static/js/jquery.easing.js"></script>
<script type="text/javascript" src="static/js/history.js"></script>
<script type="text/javascript" src="static/js/hislist.js"></script>
	<style>
		.timeyear1{
			color: #6bc30d;
    		font-size: 28px;
    		line-height: 20px;
			}
	</style>
</head>
<body>

<div id="arrow">
	<ul>
		<li class="arrowup"></li>
		<li class="arrowdown"></li>
	</ul>
</div>

<div id="history">

	<div class="title">
		<h2>历史查询记录</h2>
		<div id="circle">
			<div class="cmsk"></div>
			<div class="circlecontent">
				<div thisyear="2015" class="timeblock">
					<h2><div class="timeyear1" >2017</div><h2>

					<div class="clear"></div>
				</div>
				<div class="timeyear">YEAR</div>
			</div>
			<a href="#" class="clock"></a>
		</div>
	</div>
	
	<div id="content">
		<ul class="list">
			{% for item in total %}
				<li>
					<div class="liwrap">
						<div class="lileft">
							<div class="date">
								<span class="year"></span>
								<span class="md">第{{loop.index}}条</span>
							</div>
						</div>

						<div class="point"><b></b></div>

						<div class="liright">
							<div class="histt"><a href="#">目标城市：{{ item.goalCity }}   出行方式：{{item.way}}   最高价格{{item.highPrice}}</a></div>
						</div>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>
</body>
</html>